{{#each items}}
<div class="blog-item feed-item {{verb}}">
	{{> time published}}
	<div class="title">
		{{#link actor.url}}{{actor.displayName}}{{/link}} 
		<span>{{verb verb}}</span> 
		{{#if annotation}}
			{{#link url}}{{{annotation}}}{{/link}}
		{{else}}{{#if title}}
			{{#link url}}{{title}}{{/link}}
		{{else}}
			a {{#link object.attachments.[0].url}}{{object.attachments.[0].objectType}}{{/link}}
		{{/if}} 
		{{/if}}
		{{#greater object.plusoners.totalItems '0'}}<em>+{{object.plusoners.totalItems}}</em>{{/greater}}
	</div>
	{{#equals object.attachments.[0].objectType 'article'}}
	<div class="details">
		{{> large-blog-gravatar}}
		<div class="article">
			{{#with object.attachments.[0]}}
			<img class="attachment" height="{{image.height}}" width="{{image.width}}" src="{{image.url}}" />
			<div class="content">
				<a href="{{url}}" class="name" target="_blank">{{displayName}}</a>
				<span class="url">{{url}}</span>
			</div>
			{{/with}}
		</div>
	</div>
	{{else}}
	{{#equals verb 'share'}}
	<div class="details">
		{{> large-blog-gravatar}}
		<div class="original-share">
			{{> author object.actor}}
			<div class="original-message">{{trimMessage title}}</div>
		</div>
	</div>
	{{/equals}}
	{{/equals}}
</div>
{{/each}}