{{#each items}}
<div class="blog-item feed-item {{verb}}">
	{{> time published}}
	<div class="title">
		{{#link actor.url}}{{actor.displayName}}{{/link}}
		<span>{{Blog-showVerb verb}}</span>
		{{#if annotation}}
			{{#link url}}{{{annotation}}}{{/link}}
		{{else}}{{#if title}}
			{{#link url}}{{{Blog-trimTitle object.content}}}{{/link}}
		{{else}}
			a {{#link object.attachments.[0].url}}{{object.attachments.[0].objectType}}{{/link}}
		{{/if}}
		{{/if}}
		{{#greater object.plusoners.totalItems '0'}}<em>+{{object.plusoners.totalItems}}</em>{{/greater}}
	</div>
	{{#equalsEither object.attachments.[0].objectType 'article' 'video'}}
	<div class="details">
		{{> large-blog-gravatar}}
		<div class="external">
			{{#with object.attachments.[0]}}
			{{#if image}}
			<img class="attachment" height="{{image.height}}" width="{{image.width}}" src="{{image.url}}" />
			{{/if}}
			<div class="content">
				<a href="{{url}}" class="name" target="_blank">{{displayName}}</a>
				<span class="url">{{url}}</span>
			</div>
			{{/with}}
		</div>
	</div>
	{{else}}
	{{#equals verb 'share'}}
	<div class="details">
		{{> large-blog-gravatar}}
		<div class="original-share">
			{{> author object.actor}}
			<div class="original-message">{{Blog-trimMessage title}}</div>
		</div>
	</div>
	{{/equals}}
	{{/equalsEither}}
</div>
{{/each}}