{{#each items}}
<div class="github-item feed-item">
	{{> time created_at}}
	{{#equals type 'WatchEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>starred</span>
			{{#link repository.url}}{{repository.owner}}/{{repository.name}}{{/link}}
		</div>
	{{else}}
	{{#equals type 'FollowEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>started following</span>
			{{#link url}}{{payload.target.login}}{{/link}}
		</div>
	{{else}}
	{{#equals type 'PushEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>pushed</span> to
			<a href="{{repository.url}}/tree/{{substr payload.ref}}" target="_blank">{{substr payload.ref}}</a> at
			{{#link repository.url}}{{repository.owner}}/{{repository.name}}{{/link}}
		</div>
		<div class="details">
			{{> large-github-gravatar}}
			<div class="commits pusher-is-only-committer">
				<ul>
					{{#each payload.shas}}
					<li class="commit">
						{{> small-github-gravatar ../../this}}
						<code>
							<a href="{{../../repository.url}}/commit/{{[0]}}" target="_blank">{{Code-trimCommitCode [0]}}</a>
						</code>
						<blockquote class="original-message">{{[2]}}</blockquote>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	{{else}}
	{{#equals type 'IssuesEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>{{payload.action}}</span> issue
			{{#link url}}{{repository.organization}}/{{repository.name}}#{{payload.number}}{{/link}}
		</div>
	{{else}}
	{{#equals type 'IssueCommentEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>commented</span> on issue
			{{#link url}}{{payload.issue_id}}{{/link}} of
			{{#with repository}}
				{{#link url}}{{owner}}/{{name}}{{/link}}
			{{/with}}
		</div>
	{{else}}
	{{#equals type 'CreateEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>{{#if repository.fork}}forked{{else}}created{{/if}}</span> repository
			{{#link repository.url}}{{repository.name}}{{/link}}
		</div>
		<div class="details">
			{{> large-github-gravatar}}
			<div class="repo-description">
				{{> small-github-gravatar ../../this}}
				<p>{{payload.description}}</p>
			</div>
		</div>
	{{else}}
	{{#equals type 'DeleteEvent'}}
		<div class="title">
			<a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>
			<span>deleted</span> {{payload.ref_type}} {{payload.ref}} from
			{{#link repository.url}}{{repository.name}}{{/link}}
		</div>
	{{/equals}}
	{{/equals}}
	{{/equals}}
	{{/equals}}
	{{/equals}}
	{{/equals}}
	{{/equals}}
</div>
{{/each}}